---
// src/components/StaticSections/SecondaryHero.astro
import Section from "../Section.astro";
const { title } = Astro.props; // The hero title passed in as a prop
import HeroBg from "@/assets/background.svg";
import KoiVideo from "@/assets/video.mp4";
---
<Section
backgroundMedia={{
  video: {
    src: KoiVideo,
  },
  image: {
    src: HeroBg,
    imageClass: "filter brightness-50 bg-cover bg-center xl:bg-fixed",
  },
  overlayClass: "bg-primary opacity-60",
}}
  heading={[{ text: title, tagName: "h1", class: "h1 text-bg" }]}
  description=""
  sectionClass="flex items-center justify-center min-h-[60vh] shadow-lg"
  contentClass="container mx-auto text-center"
>
</Section>