---
// src/components/LoopComponents/VideoCard.astro
import Video from "../Video.astro";
import { Image } from "astro:assets";

const { item, collectionName } = Astro.props;
const { video: videoSrc, poster: posterSrc, featuredImage } = item.data;
console.log(videoSrc);
---
<li class="relative border-radius group w-full h-auto overflow-hidden shadow-xs transition-shadow aspect-video">
  {videoSrc ? (
    <Video
      src={videoSrc.src}
      poster={posterSrc}
      autoplay
      loop
      muted
      playsinline
      class="w-full h-full object-cover object-center"
    />
  ) : featuredImage ? (
    <Image
      src={typeof featuredImage === "string" ? featuredImage : featuredImage}
      alt={item.data.title || item.slug}
      format="webp"
      loading="lazy"
      fetchpriority="low"
      quality="low"
      class="w-full h-full object-cover object-center"
    />
  ) : null}
</li>
