---
// src/layouts/ServicesLayout.astro
import BaseLayout from "./BaseLayout.astro";
import Section from "@/components/Section.astro";
import HeroBg from "@/assets/background.svg";
import KoiVideo from "@/assets/video.mp4";
import { SiteData } from "@/content/SiteData";
import QuoteForm from "@/components/Forms/QuoteForm.astro";

const {
  entry,
  title,
  description,
  heading,   // ← pull in the MDX heading frontmatter
} = Astro.props;
console.log("entry", entry);
---
<BaseLayout {...Astro.props}>
  <Section
  title={Astro.props.title}
  buttonsSectionClass="h6 mt-[var(--spacing-2xl)] gap-[var(--spacing-xl)] flex flex-col md:flex-row items-center justify-center w-4/5"
  sectionClass="min-h-[100vh] xl:text-left flex items-center justify-center bg-cover bg-fixed bg-center z-100 text-bg shadow-lg pt-[var(--spacing-4xl)] md:p-[var(--spacing-md)]"
  contentClass="flex flex-col xl:flex-row justify-center items-center xl:gap-[var(--spacing-xl)] w-9/10 container mx-auto text-center"
  topContentClass="w-9/10 xl:w-4/6 py-[var(--spacing-lg)] md:min-h-[70vh] flex flex-col items-center justify-center"
  headingAreaClass="flex flex-col text-center xl:text-left w-full h-full z-10 my-[var(--spacing-lg)]"
  heading={[
    {
      text: `Koi ${entry.slug}`,
      tagName: "h1",
      class: "h5 text-bg uppercase py-[var(--spacing-sm)]",
    },
    {
      text: `Top-Quality ${entry.slug} Solutions for Your Home`,
      tagName: "h2",
      class: "h1 text-bg py-[var(--spacing-sm)]",
    },
  ]},
  description={description}
  descriptionClass="h5"
  backgroundMedia={{
    video: {
      src: KoiVideo,
    },
    image: {
      src: HeroBg,
      imageClass: "filter brightness-50 bg-cover bg-center xl:bg-fixed",
    },
    overlayClass: "bg-primary opacity-60",
  }}
  buttonsSectionClass="hidden"
>
<QuoteForm/>
</Section>
  <div class="p-[var(--spacing-2xl)] xl:hidden"></div>
  <slot />
</BaseLayout>